## 1. Babynames analysis - A first look
<p><a  href="https://www.ssa.gov/">The United States Social Security Administration</a> has made available data on the frequency of baby names from 1880 through present. Despite the first impression, this a really interesting dataset which offers great opportunities for exploration and visualization.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxncVEtnFae2H1JzJ1KScJPtsHaEPjRu67VA&usqp=CAU" height="200" width="250">
<p>The dataset is update once per year <a href=" http://www.ssa.gov/oact/babynames/limits.html">here</a>. So to get us started we will import our data. If someone took a look to the dataset contained in the <em>dataset/babynames</em>, he or she would see that we have values values separated with comma, so our import is pretty straigthforward. So let's have a first look in our dataset!</p>

In [1]:
import pandas as pd
from IPython import display

# Import data, print first rows
names1880 = pd.read_csv("./datasets/babynames/yob1880.txt")
names1880.head()

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578